---
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"


export async function getStaticPaths() {
  const blogs = await getCollection('blogs')

  return blogs.map((blog) => ({
    params: { id: blog.id },
    props: { blog }
  }))
}
const { blog } = Astro.props
const { id, data } = blog
const { title, image } = data

const { Content } = await render(blog)
---
<Layout {title}>
  <div class="relative rounded-4xl overflow-hidden">
    
    <img transition:name={`image-${id}`} src={`/images/${image}`} alt="" class="">
    <div class="bg-neutral-400 absolute bottom-0">

      <h1 transition:name={`title-${id}`} class="text-5xl font-bold">{title}</h1>
    </div>
  </div>
  <div class="prose prose-invert p-4">
    <Content/>
  </div>
</Layout>