---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TextGradientAnimate from "../../components/TextGradientAnimate.astro";

const blogs = await getCollection('blogs');
---
<Layout title="Portfolio | About">
  <section>
    <h1 class="text-center text-3xl font-bold">
      <TextGradientAnimate text="Hi, a my blog"/>
    </h1>
    <p class="text-center text-lg text-neutral-400">Welcome to my blog where I share my thoughts and experiences.</p>
    <div class="grid grid-cols-2 gap-4 p-2">
      {
        blogs.map((blog)=> {
          const { id, data } = blog
          const { title, image, createdAt, description } = data

          return (
            <a href={`/blog/${id}`}>
              <article class="border border-neutral-800 p-2 rounded-2xl bg-neutral-900">
                <img transition:name={`image-${id}`} src={`/images/${image}`} class="rounded-lg">
                <div class="p-2">
                  <h2 transition:name={`title-${id}`} class="font-bold text-xl text-neutral-100"> {title}</h2>
                  <p class="text-sm text-neutral-400">{description}</p>
                </div>
              </article>
            </a>
          )
        })
      }
    </div>
  </section>
</Layout>